body {
  margin: 8px;
}

.site-title, .alt-ver-link {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
.server, .status {
  font-family: "Lato", sans-serif;
}

.server {
  counter-increment: id;
  display: flex;
  flex-direction: column;
  color: #4c4843;
  margin-block: 0.5em;

  .address {
    display: flex;
    line-height: 28px;
    height: 32px;
    font-size: 1.5em;

    text-wrap: nowrap;
    padding-inline-end: 8px;
    min-width: fit-content;

    &::before {
      content: counter(id) ".";
      flex-basis: 30px;
      min-width: 30px;
      font-weight: 300;
      text-align: right;
      padding-inline-end: 6px;
    }
  }

  .name {
    margin-inline-start: 36px;
    display: flex;
    gap: 1ex;

    .image {
      align-self: flex-end;

      &.small {
        &::before {
          content: "(";
        }

        &::after {
          content: ")";
        }

        &::before, &::after {
          vertical-align: top;
        }
      }
    }
  }
}
